<div class="flex flex-col justify-evenly h-full">
  <h2 class="protfolio-heading">Education</h2>
  <div class="education">
    <div
      id="edu-one"
      class="hide-edu-card justify-between coding-school flex flex-col md:flex-row"
    >
      <div class="logo dark:shadow-education-shadow-dark rounded-full flex items-center">
        <img src="../../assets/download.png" alt="logo" class="" />
      </div>
      <div class="content flex flex-col w-[90%] p-4">
        <h3
          class="text-xl font-semibold pt-2 text-heading-color dark:text-heading-color-dark"
        >
          1337 coding school
        </h3>
        <p
          class="font-semibold py-2 text-subheading-color dark:text-subheading-color-dark"
        >
          Computer Science
        </p>
        <p
          class="font-light subpixel-antialiased text-sm py-2 text-paragraph-color dark:text-subheading-color-dark"
        >
          2017 - 2021
        </p>
        <ul>
          <li>
            <p
              class="font-light subpixel-antialiased text-sm text-paragraph-color dark:text-paragraph-color-dark"
            >
              1337 is a project-based coding school, which means that there are
              no teachers, no classes, no books, and no traditional classrooms.
              Instead, students learn through peer-to-peer interactions and
              project-based work. Students are encouraged to learn from each
              other and to develop the skills they need to remain independent
              learners throughout their lives.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="hide-edu-card divider react-reveal education-card-border mt-4"
      style="
        animation-fill-mode: both;
        animation-duration: 2000ms;
        animation-delay: 0ms;
        animation-iteration-count: 1;
        opacity: 1;
        animation-name: react-reveal-232479449064804-5;
      "
    ></div>
    <div
      id="edu-two"
      class="hide-edu-card justify-between coding-school esta flex flex-col md:flex-row"
    >
      <div class="logo rounded-full flex items-center">
        <img src="../../assets/ofppt.png" alt="logo" class="" />
      </div>
      <div class="content flex flex-col w-[90%] p-4">
        <h3
          class="text-xl font-semibold pt-2 text-heading-color dark:text-heading-color-dark"
        >
          ISGI
        </h3>
        <p class="font-semibold py-2 text-subheading-color dark:text-subheading-color-dark">Computer Science</p>
        <p
          class="font-light subpixel-antialiased text-sm py-2 text-subheading-color dark:text-subheading-color-dark"
        >
          2017 - 2021
        </p>
        <ul>
          <li>
            <p
              class="font-light subpixel-antialiased text-sm text-paragraph-color dark:text-paragraph-color-dark"
            >
              1337 is a project-based coding school, which means that there are
              no teachers, no classes, no books, and no traditional classrooms.
              Instead, students learn through peer-to-peer interactions and
              project-based work. Students are encouraged to learn from each
              other and to develop the skills they need to remain independent
              learners throughout their lives.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="hide-edu-card divider react-reveal education-card-border mt-4"
      style="
        animation-fill-mode: both;
        animation-duration: 2000ms;
        animation-delay: 0ms;
        animation-iteration-count: 1;
        opacity: 1;
        animation-name: react-reveal-232479449064804-5;
      "
    ></div>
  </div>
</div>
