:host {
  height: fit-content;
  display: block;
}

@media screen and (max-width: 768px) {
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  // rounded shadow
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.react-reveal {
  animation-fill-mode: both;
  animation-duration: 2000ms;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
  opacity: 1;
  animation-name: react-reveal;
}

.education-card-border {
  border-top: 2px solid hsla(0, 0%, 83%, 0.397);
  height: 30px;
  margin-bottom: 20px;
  transition: width 0.6s ease-in-out;
  width: 80%;
}

.coding-school:hover + .education-card-border {
  width: 100%;
  border-top: 2px solid hsla(273, 73%, 51%, 0.397);
}

.education-card-border:hover {
  width: 100%;
  border-top: 2px solid hsla(273, 73%, 51%, 0.397);
}

.hide-edu-card {
  transition: transform 0.9s ease-out;
  transform: translateX(-200%);
}

.show-edu-card {
  transform: translateX(0%);
}
