:host {
  display: block;
  height: fit-content;
}

.projects-container {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project-card {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.project-card:hover {
  // box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.a_button {
  background-color: #55198b;
  border: 1px solid #55198b;
  font-size: 1rem;
  font-weight: 700;

  transition: all 0.3s ease-in-out 0s;
  transition: 0.3s;
}

.a_button:hover {
  background-color: #782abc;
  box-shadow: 0 4px 8px 0 rgb(172, 84, 249);
}

.project-card {
  transition: transform 0.9s ease-in-out;
  transform: translateY(30%);
}

.projects-shows {
  animation: fadeIn 0.9s ease-in-out;
  transform: translateY(0%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
