<div class="h-full">
  <h2 class="protfolio-heading">Experiences</h2>
  <div
    class="grid gap-6 md:grid-cols-2 h-full w-full lg:flex lg:justify-evenly"
  >
    <div id="exp-one" class="exp-2 mx-auto flex flex-col shadow-md dark:shadow-gray-200">
      <div class="h-36 sm:h-56 lg:h-72">
        <div
          class="devaktus-banner relative flex justify-center rounded-md h-16 sm:h-24 lg:h-32"
        >
          <!-- <h3 class="text-white text-2xl">OCP</h3> -->
          <div
            class="h-20 w-20 sm:h-24 sm:w-24 lg:h-28 lg:w-28 rounded-full text-center absolute bottom-0 shadow-2xl ocpImg"
          >
            <img class="rounded-full" src="../../assets/devaktus1.png" alt="" />
          </div>
        </div>
      </div>
      <div class="experience-details flex flex-col rounded h-full px-8">
        <div class="">
          <h4
            class="text-center text-xl text-heading-color dark:text-heading-color-dark"
          >
            Internship
          </h4>
          <h5
            class="text-center text-subheading-color dark:text-subheading-color-dark"
          >
            January 2023 – July 2023 – Remote
          </h5>
        </div>
        <ul class="list-disc py-12">
          <li class="text-paragraph-color dark:text-paragraph-color-dark">
            Planned, developed , tested, maintained web applications using
            NestJS, Angular, MongoDB.
          </li>
          <li class="text-paragraph-color dark:text-paragraph-color-dark">
            Consistently applied best practices for writing clean, secure,
            redable, and scalable code.
          </li>
          <li class="text-paragraph-color dark:text-paragraph-color-dark">
            Developed app integration with REST API (binance api, keycloak api).
          </li>
        </ul>
      </div>
    </div>
    <div id="exp-two" class="exp-1 mx-auto flex flex-col shadow-md dark:shadow-gray-200">
      <div class="h-36 sm:h-56 lg:h-72">
        <div
          class="ocp-banner relative flex justify-center rounded-md h-16 sm:h-24 lg:h-32"
        >
          <div
            class="h-20 w-20 sm:h-24 sm:w-24 lg:h-28 lg:w-28 rounded-full text-center absolute bottom-0 shadow-2xl ocpImg"
          >
            <img class="rounded-full" src="../../assets/ocp-2.png" alt="" />
          </div>
        </div>
      </div>
      <div class="experience-details flex flex-col rounded h-full px-8">
        <div class="">
          <h4 class="text-center text-xl text-heading-color dark:text-heading-color-dark">Internship</h4>
          <h5 class="text-center text-subheading-color dark:text-subheading-color-dark">February 2019 – March 2019 – Present</h5>
        </div>
        <p class="py-12 text-paragraph-color dark:text-paragraph-color-dark">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, quia, quae voluptates voluptatem quod
        </p>
      </div>
    </div>
  </div>
</div>
