<div class=" min-w-full  flex flex-col min-h-screen relative">
  <div class="expertise rounded relative h-full">
    <!-- <h1 class="text-center text-4xl">My Expertise</h1> -->
    <div class="w-full p-4 flex justify-center">
      <div
        class="grid grid-cols-1 lg:grid-cols-4 gap-8   relative container"
      >
        <div class="card border bg-slate-200 col-span-1 animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-452343222210968-2;">
          <div>
            <div class="relative flex justify-center space-x-4 items-center">
              <i class="text-2lg material-icons icons"> devices_other </i>
              <h2 class="text-sm text-center rounded">Front End</h2>
            </div>
          </div>
          <ul class="flex flex-col items-start px-4 justify-center ">
            <li class="text-sm">Angular</li>
            <li class="text-sm">Html</li>
            <li class="text-sm">Css</li>
            <li class="text-sm">Scss</li>
            <li class="text-sm">Tailwindcss</li>
          </ul>
        </div>
        <div class="card border bg-slate-200 row-auto">
          <div class="relative flex justify-center space-x-4 items-center">
            <i class="text-2lg material-icons icons"> dns </i>
            <h2 class="text-sm text-center rounded">Back End</h2>
          </div>
          <ul class="flex flex-col items-start px-4 justify-center">
            <li class="text-sm">NestJs</li>
            <li class="text-sm">ExpressJs</li>
          </ul>
        </div>
        <div class="card border bg-slate-200 row-auto">
          <div class="relative flex justify-center space-x-4 items-center">
            <i class="text-2lg material-icons icons"> devices_other </i>
            <h2 class="text-sm text-center rounded">database</h2>
          </div>
          <ul class="flex flex-col items-start px-4 justify-center">
            <li class="text-sm">Postgresql</li>
            <li class="text-sm">MongoDB</li>
          </ul>
        </div>
        <div class="card border bg-slate-200 row-auto">
          <div class="relative flex justify-center space-x-4 items-center">
            <i class="text-2lg material-icons icons"> devices_other </i>
            <h2 class="text-sm text-center rounded">Other</h2>
          </div>
          <ul class="flex flex-col items-start px-4 justify-center">
            <li class="text-sm">Git</li>
            <li class="text-sm">Scrum</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
