:host {
  height: 100%;
}

.parent {
  display: flex;
  flex-direction: row;
  // min-height: calc(100vh - 65px);
  // height: fit-content;
}

// large screens
// @media (min-width: 1024px) {
//   .cont {
//     height: calc(100vh - 50px);
//   }
// }

#particles-js {
  position: absolute;
  max-width: 100vw;
  height: 100%;
}

p {
  font-family: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif;
  width: 90%;
}

#greetingEmoji {
  // height: 30px;
  // width: 30px;
  margin-right: 10px;
  display: inline;
  margin-left: 60px;
  //
  animation: shake 1s infinite ease-in-out alternate;
}
// shake animation
@keyframes shake {
  0% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(0deg);
  }
}

.pic-container {
  background-image: radial-gradient(circle, #994ff5, #ffc41f);
}

.profile-pic {
  width: 168px;
}

@media (min-width: 1024px) {
  .profile-pic {
    width: 205px;
  }
}

.profile-pic {
  align-self: flex-end;
  transform-origin: bottom center;
}
.topLine {
  display: block;
  position: relative;
}

.topLine::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 0px;
  // left: 20px;
  background-color: #7f00ff;
}

.multiText {
  // color: #7f00ff;
  text-transform: capitalize;
}

.btns {
  width: 16.25rem;
  // width: fit-content;
}
fa-icon {
  filter: drop-shadow(3px 5px 2px rgb(0, 0, 0, 0.3));
  // background-color: red;
  // border-radius: 50%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15x;
  font-weight: 400;
  color: #fff;
  // background-color: #3d535f;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #7f00ff;
}

.imgbox {
  // object-fit: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  // background-image: url("../../assets/splash-sm.png");
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // // z-index: -300;
  // // min-width: max(75vw, 200px);
}

.imgbox img {
  width: min(50vw, 200px);
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // transform: rotate(45deg);
  border-radius: 50%;
  aspect-ratio: 1/1;
  z-index: auto;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: 2px;
  }
}

.imgbox #splash {
  //   position: absolute;
  //   top: 50%;
  //   right: 50%;
  //   transform: translate(-50%, -50%) rotate(-35deg);
  //   width: 160%;
  // filter: saturate(200%);
  // animation: animate 4s linear infinite;
}
