<nav
  class="relative px-4 w-full flex justify-between items-center dark:bg-gray-900"
>
  <div class="flex justify-between items-center">
    <div
      class="rounded-full w-10 h-10 bg-teal-400 mr-3 profile-badge shadow-lg dark:shadow-dark-mode-shadow"
    ></div>
    <a class="navigation-nav-items" href="#whoImI">
      <div class="flex">
        <span class="greathar">&lt;</span>
        <span>A.Mouhtal</span>
        <span class="greathar">&gt;</span>
      </div>
    </a>
  </div>

  <ul
    class="navItems flex justify-between items-start md:z-0 left-0 top-0 w-full flex-col md:bg-transparent md:!translate-y-0 md:flex-row md:h-full md:w-56 md:static dark:bg-gray-900 dark:text-secondary-color"
    [ngClass]="!showMenu ? 'hide w-full lg:w-full' : 'show w-full lg:w-full'"
  >
    <li>
      <a class="navigation-nav-items" href="#whoImI">home</a>
    </li>
    <li>
      <a class="navigation-nav-items" href="#whatIDo">skills</a>
    </li>
    <li>
      <a class="navigation-nav-items" href="#experiences">experiences</a>
    </li>
    <li>
      <a class="navigation-nav-items" href="#education">education</a>
    </li>
    <li>
      <a class="navigation-nav-items" href="#projects">projects</a>
    </li>
    <li>
      <a class="navigation-nav-items" href="#contactME">contact me</a>
    </li>
  </ul>
  <i
    class="menu text-2lg material-icons icons cursor-pointer md:hidden dark:text-secondary-color"
    (click)="toggleMenu()"
  >
    menu
  </i>
</nav>
