:host {
  height: 100%;
}

// animation on view
.my-skills {
  transform: translateX(200%);
  transition: transform 1.7s ease-out;
}

.animated-picture {
  transform: translateX(-200%);
  transition: transform 1.7s ease-out;
}

.my-skills-show {
  transform: translateX(0%);
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

#toanimate {
  animation: identifier linear 2.5s;
  animation-delay: 0.9s;
}

#toanimate2 {
  animation: identifier2 linear infinite 2.5s 2.5s;
}

@keyframes identifier2 {
  0% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes identifier {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}
.icon {
  color: #3d535f;
}

.icon:hover {
}

.angular:hover {
  color: #dd0031;
}

.nodejs:hover {
  color: #68a063;
}
.css:hover {
  color: #2965f1;
}

.js:hover {
  color: #f0db4f;
}
.html:hover {
  color: #e34c26;
}

.sass:hover {
  color: #c69;
}

.docker:hover {
  color: #0db7ed;
}
.github:hover {
  color: #333;
}
.postgresql:hover {
  color: #336791;
}

.paragraph {
  color: rgb(134, 142, 150);
}

.left {
  animation: fade linear;
  animation-timeline: 0.5s ease-in-out;
}

@keyframes fade {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
