<div
  [ngClass]="darkMode ? 'dark dark:bg-gray-900' : ''"
  class="relative w-full "
>
  <div class="dark:bg-gray-900">
    <div
      class="relative container mx-auto px-8 dark:bg-gray-900 overflow-x-hidden"
    >
      <portfolio-navigation class=""></portfolio-navigation>
      <portfolio-who-i-am class="child" id="whoImI"></portfolio-who-i-am>
      <portfolio-what-i-do class="child" id="whatIDo"></portfolio-what-i-do>
      <portfolio-experiences
        class="child"
        id="experiences"
      ></portfolio-experiences>
      <portfolio-education class="child" id="education"></portfolio-education>
      <portfolio-projects class="child" id="projects"></portfolio-projects>

      <portfolio-internship-video></portfolio-internship-video>
      <portfolio-contact-me class="child" id="contactME"></portfolio-contact-me>
      <!-- <router-outlet></router-outlet> -->
    </div>
    <label class="switch shadow-dark-mode-shadow dark:shadow-white">
      <input type="checkbox" (click)="toggleDarkModeFn()" />
      <span class="slider"></span>
    </label>
  </div>
</div>
